header {
  height: 10vh;
  width: 100%;
  padding: 0 20px;

  @include flex(flex-end, center);

  nav {
    width: 15%;
    min-width: 200px;
    @include flex(space-between, center);

    a {
      font-size: 1.6rem;
      text-decoration: none;
      color: $nav-links;

      &:hover {
        color: $nav-links-hover;
        font-weight: 500;
        transition: 0.2s;
      }
    }
  }
}
