@mixin flex($main: center, $cross: center) {
  display: flex;
  justify-content: $main;
  align-items: $cross;
}

@mixin btn() {
  background: $btn-bg;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 20px;
  border-radius: 28px;
  width: 25%;
  min-width: 150px;
  outline: none;
  border: none;
  cursor: pointer;
}
