//COLOR VARIABLES
$bright-pink: #f8827d;
$rose-quartz: #ecbcba;
$peach: #f2d7c3;
$bud: #9ea29d;
$swiss-coffee: #d6d1d1;
$tundora: #424242;
$gigapet-bg: rgba(15, 130, 211, 0.2);
$nuggets-bg: rgba(242, 218, 253, 0.65);
$footer-bg: rgba(242, 215, 195, 0.39);

//
$nav-links-hover: $tundora;
$nav-links: #9ea29d;
$header: $tundora;
$btn-bg: #f6615a;
